<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>LOGIN</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/attack">GLOBAL BANK</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">








                <form id="searchForm" class="d-flex" role="search">
                    <input id="searchInput" class="form-control me-2" type="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>







            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="imgs d-flex justify-content-center align-item-center">
            <img src="static/img/logo.jpg" height="80px" width="200px" alt="">
        </div>
        <form id="attackForm" action="" method="">
            <h1 class="text-center mb-5">LOGIN</h1>
            <hr>
            <br>

            <!-- Bootstrap Alert for Error Messages -->
            <div id="errorAlert" class="alert alert-danger d-none" role="alert"></div>
        </form>
        <form action="/attack" method="post">
            <div class="form-floating mb-3">
                <input type="" class="form-control" id="username" placeholder="Enter Username" name="username">
                <!-- <input type="text" id="username" class="form-control" name="username" oninput="blockBracketsAndPeriods(event)"> -->
                <label for="username">Username</label>
            </div>


            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                <label for="password">Password</label>
            </div>

            <div class="buttons d-flex justify-content-center align-items-center gap-3 mt-4">
                <button type="submit" class="btn btn-outline-primary w-100">LOGIN</button>
                <button type="button" class="btn btn-outline-primary w-100">REGISTER</button>
            </div>
        </form>
    </div>

    <script>
        document.getElementById('searchForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the form from submitting

            // Get the search query from the input field
            var searchQuery = document.getElementById('searchInput').value;

            // Perform search logic here, for example, redirect to a search results page
            // window.location.href = '/search?q=' + encodeURIComponent(searchQuery);
            document.write(searchQuery + "Welcome User");
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>