<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DASHBOARD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5 d-flex justify-content-center align-item-center">
        <div class="card" style="width: 50rem;">
            <img src="/static/img/currency.webp" class="card-img-top" alt="" height="300px">
            <div class="card-body">
                <h5 class="card-title">WELCOME TO WORLD BANK</h5>
                <p class="card-text">The World Bank is an international financial institution that provides loans and
                    grants to the governments of low and middle-income countries for the purpose of pursuing capital
                    projects. It was established in 1944 and is headquartered in Washington, D.C., United States. The
                    World Bank consists of two institutions: the International Bank for Reconstruction and Development
                    (IBRD) and the International Development Association (IDA). Its primary goal is to reduce poverty by
                    providing financial and technical assistance for development projects in areas such as health,
                    education, infrastructure, and agriculture.</p>
                <a href="/login" class="btn btn-primary w-100">LOGOUT</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>